mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background:white;
  }

  mat-toolbar-row{
    justify-content: space-between;
  }
  
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  ul li {
    list-style: none;
  }
  
  button {
    outline: none;
    border: 0;
    background: transparent;
  }
  
  .user {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 2px;
    margin-right: 5px;
  }
  
  .user-image-icon {
    height: 18px;
    font-size: 16px;
    margin-left: 5px;
  }
  