<!-- Hero Section -->
<section class="hero">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">Discover Your Signature Scent</h1>
    <p class="lead">
      Explore our exclusive collection of premium perfumes crafted for you.
    </p>
    <button class="btn btn-primary btn-lg" (click)="goBackToCatalog()">Shop Now</button>
  </div>
</section>

<!-- Back to Top Button -->
<button
  id="back-to-top"
  class="btn btn-primary"
  (click)="scrollToTop()"
  [ngClass]="{ 'show': showBackToTop }"
>
  <i class="bi bi-arrow-up"></i> 
</button>

    <!-- best sales -->
    <section class="featured-perfumes py-5">
      <div class="container">
        <h2 class="text-center mb-4" style="color: rgb(91, 23, 155);">Featured Perfumes</h2>
        <div class="row">
          <div class="col-md-3" *ngFor="let product of bestSales">
            <div class="card cardProduct shadow-sm">
              <img [src]="product?.productImage[0]" class="card-img-top" alt="{{ product.productName }}"  />
              <div class="card-body">
                <h5 class="card-title">{{ product.productName }}</h5>
                <p class="fw-bold">${{ product.productPrice.toFixed(2) }}</p>
                <div class="rating" style="margin-bottom: 10px;">
                </div>

                <button class="btn btn-primary" (click)="goBackToDetails(product._id)">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  <!-- Categories Section -->
  <section class="categories py-5 bg-light">
    <div class="container">
      <h2 class="text-center mb-4">Explore Our Categories</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let category of categories">
          <div class="card shadow-sm text-center">
            <!-- <img src="{{category.image}}" class="card-img-top" alt="{{ category.name }}" /> -->
            <!-- <img src="download.jpg" class="card-img-top" alt="{{ category.name }}" /> -->
            <img [src]="category.image" class="card-img-top" alt="{{ category.name }}" />            <div class="card-body">
              <h5 class="card-title">{{ category.name }}</h5>
              <a (click)="goBackToCategory(category.name)" class="btn btn-outline-primary">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- New Arrivals D Section -->
  <section class="new-arrivals py-5">
    <div class="container">
      <h2 class="text-center mb-4">New Arrivals</h2>
      <div class="row">
        <div class="col-md-3" *ngFor="let product of newArrivalsD">
          <div class="card cardProduct shadow-sm">
            <img [src]="product.productImage[0]" class="card-img-top" alt="{{ product.productName }}" />
            <div class="card-body">
              <h5 class="card-title">{{ product.productName }}</h5>
              <p class="fw-bold">${{ product.productPrice.toFixed(2) }}</p>
              <button class="btn btn-primary" (click)="goBackToDetails(product._id)">View Details</button>

              <!-- <a (click)="goBackToDetails(product._id)" class="btn btn-warning">View Details</a> -->
              <!-- <a routerLink="details/{{product._id}}" class="btn btn-warning">View Details</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

