/* :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100vh;
  }
  
  mat-drawer {
    background: #0f172a;
  } */
  mat-drawer-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  mat-drawer {
    width: 260px;
    background: #0f172a;
  }
  
  mat-drawer-content {
    flex-grow: 1;
    height: 100vh;
  }
  