<div id="main-wrapper" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0" >
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5" id="dataBlock">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Reset Password</h3>
                                </div>

                                <h6 class="h5 mb-0">Enter your new password</h6>
                                <p class="text-muted mt-2 mb-5">Please enter and confirm your new password.</p>

                                <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
                                    <div class="form-group mb-3">
                                        <label for="newPassword">New Password</label>
                                        <input type="password" 
                                               name="newPassword" 
                                               class="form-control" 
                                               formControlName="newPassword"
                                               placeholder="New Password"
                                               id="newPassword">
                                        <div class="text-danger mt-1" *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
                                            <small *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">New password is required.</small>
                                            <small *ngIf="resetPasswordForm.controls['newPassword'].hasError('pattern')">
                                                Password must be at least 8 characters and include uppercase, lowercase, a number, and a special character.
                                            </small>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm New Password</label>
                                        <input type="password" 
                                               name="confirmPassword" 
                                               class="form-control" 
                                               formControlName="confirmPassword"
                                               placeholder="Confirm New Password"
                                               id="confirmPassword">
                                        <div class="text-danger mt-1" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched">
                                            <small *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">Confirmation password is required.</small>
                                            <small *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('mismatch')">
                                                Passwords do not match.
                                            </small>
                                        </div>
                                        <div *ngIf="errorMessage" class="text-danger">
                                           <small> {{ errorMessage }}</small>
                                        </div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-theme mt-3" [disabled]="resetPasswordForm.invalid">Reset Password</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">Experience the Essence of Luxury!</h4>
                                    <p class="lead text-white">"Joining our perfume community was effortless. Whether it's logging in, registering, or resetting my password, the process is always smooth and user-friendly."</p>
                                    <p>- Satisfied Member</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
