<div class="loginPage bg-white vh-100 d-flex justify-content-center align-items-center">
	<div class="container d-flex justify-content-center align-items-center formData">
	  <form class="p-4 border rounded bg-white w-50 shadow-lg" >
		<h2 class="text-center mb-4">User Login</h2>
  
		<!-- Email -->
		<div class="mb-3">
		  <label for="email" class="form-label">Email</label>
		  <input type="text " class="form-control" id="email" placeholder="Enter email" name="email" required [(ngModel)]="login.email">
		</div>
  
		<!-- Password -->
		<div class="mb-3">
		  <label for="password" class="form-label">Password</label>
		  <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required [(ngModel)]="login.password">
		</div>
  
		<!-- Submit Button -->
		<button type="submit" class="btn btn-primary w-100" (click)="loginn()">Login</button>
	  </form>
	</div>
  </div>
  