<div class="sidebar">
  <div class="brand-logo">
    <h2>Perfume Store</h2>
  </div>
  
  <nav class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/seller/dashboard" routerLinkActive="active" class="nav-link">
          <i class="bi bi-speedometer2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/seller/products" routerLinkActive="active" class="nav-link">
          <i class="bi bi-box"></i> Products
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/seller/orders" routerLinkActive="active" class="nav-link">
          <i class="bi bi-cart"></i> Orders
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/seller/analytics" routerLinkActive="active" class="nav-link">
          <i class="bi bi-graph-up"></i> Analytics
        </a>
      </li>
    </ul>
  </nav>
</div>