.loginPage {
    padding-top: 20px;
    background-image: url(./../../../../assets/2229.jpg);
    background-size: cover;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent horizontal and vertical scrolling */
  }
  
  .formData {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 800px; /* Increased max-width for better responsiveness on larger screens */
    box-sizing: border-box; /* Include padding and border in element's total width */
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box; /* Include padding and border in element's total width */
  }
  
  h2 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 3rem; /* Adjust font size for better responsiveness */
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  input[type="file"] {
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 4px;
    width: 100%; /* Ensure full width usage */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Ensure full width usage */
    box-sizing: border-box; /* Include padding and border in element's total width */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Media Queries for different screen sizes */
  @media (max-width: 1024px) { /* For laptop screens */
    .formData {
      max-width: 700px; /* Adjust max-width for laptop screens */
    }
  }
  
  @media (max-width: 768px) {
    .formData {
      width: 90%;
      max-width: 100%; /* Ensure full width usage */
    }
    form {
      padding: 20px;
    }
    h2 {
      font-size: 1.5rem; /* Adjust heading size for better responsiveness */
    }
  }
  
  @media (max-width: 576px) {
    .formData {
      width: 100%;
      padding: 10px;
    }
    form {
      padding: 15px;
    }
    h2 {
      font-size: 1.2rem; /* Further adjust heading size for smaller screens */
    }
  }
  