.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
  }
  
  .page__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
    padding: 2rem;
  }
  
  .page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -3rem;
    background: white;
    color: black;
    font-size: 2rem;
    position: relative;
  }
  
  .page__content-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image-container {
    position: relative;
    width: 70px;
    height: 70px; 
    margin: 5px;
  }
  
  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
  }
  