<mat-nav-list>
  <div class="logo py-3">
    <h1>SUP-ADMIN</h1>
  </div>
  <mat-divider></mat-divider>
  
  <h2 matSubheader class="mt-2"><span class="subheader">APPLICATIONS</span></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">
    <mat-icon>dashboard</mat-icon><span>Dashboard</span>
  </a>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="users">
    <mat-icon>group</mat-icon><span>Users</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="sellers">
    <mat-icon>storefront</mat-icon><span>Sellers</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="sales-clerks">
    <mat-icon>badge</mat-icon><span>Sales Clerk</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="cashiers">
    <mat-icon>point_of_sale</mat-icon><span>Cashier</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="products">
    <mat-icon>shopping_bag</mat-icon><span>Products</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="orders">
    <mat-icon>shopping_cart</mat-icon><span>Orders</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="main-inventory">
    <mat-icon>inventory_2</mat-icon><span>Main Inventory</span>
  </a>

  <!-- Expandable Branches Section -->
  <a mat-list-item (click)="toggleSubMenu()">
    <mat-icon>store</mat-icon><span>Branches</span>
    <mat-icon>{{ showSubMenu ? 'expand_less' : 'expand_more' }}</mat-icon>
  </a>

  <div *ngIf="showSubMenu" class="submenu">
    <a mat-list-item (click)="toggleSubSubMenu($event)">
      <mat-icon>location_on</mat-icon><span>Branch</span>
      <mat-icon>{{ showSubSubMenu ? 'expand_less' : 'expand_more' }}</mat-icon>
    </a>

    <div *ngIf="showSubSubMenu" class="submenu">
      <a mat-list-item routerLink="products" routerLinkActive="list-item-active">
        <mat-icon>shopping_cart</mat-icon><span>Products</span>
      </a>
      <a mat-list-item routerLink="orders" routerLinkActive="list-item-active">
        <mat-icon>receipt_long</mat-icon><span>Orders</span>
      </a>
    </div>
  </div>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="categories">
    <mat-icon>category</mat-icon><span>Categories</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="reviews">
    <mat-icon>star_rate</mat-icon><span>Reviews</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="contact">
    <mat-icon>support_agent</mat-icon><span>Contact-Us</span>
  </a>
</mat-nav-list>
