<mat-nav-list>
    <div class="logo py-3">
      <img src="123.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"><span class="subheader">APPLICATIONS</span></h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon><span>Dashboard</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
      <mat-icon>group</mat-icon><span>Users</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/sellers">
      <mat-icon>person</mat-icon><span>Sellers</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">
      <mat-icon>token</mat-icon><span>Products</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">
      <mat-icon>paid</mat-icon><span>Orders</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/categories">
      <mat-icon>category</mat-icon><span>Categories</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/reviews">
      <mat-icon>wysiwyg</mat-icon><span>Reviews</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
      <mat-icon>help</mat-icon><span>Contact-Us</span>
    </a>
  </mat-nav-list>
