<mat-nav-list>
    <div class="logo py-3">
      <img src="123.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"><span class="subheader">APPLICATIONS</span></h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon><span>Dashboard</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
      <mat-icon>group</mat-icon><span>users</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/sellers">
      <mat-icon>person</mat-icon><span>sellers</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">
      <mat-icon>category</mat-icon><span>products</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">
      <mat-icon>paid</mat-icon><span>orders</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
      <mat-icon>help</mat-icon><span>contact-us</span>
    </a>
  </mat-nav-list>
