.mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
    color: #94a3b8;
  }

.logo {
  text-align: center;
  padding: 2.6rem 1rem;
}

.logo img {
  width: 200px;
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

span {
  color: #94a3b8 !important;
  font-size: 1.3rem;
  height: 44px !important;
  margin-bottom: 4px;
  vertical-align: middle;
}

a:hover {
  background: #2c3344 !important;
}

.list-item-active{
  background: #2c3344 !important;
}

.subheader {
  color: #818cf8;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
}
