<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">test</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>


                        <!-- <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">First Name</label>
                                <input type="text"
                                class="form-control" 
                                placeholder="first name" 
                                formControlName="firstName"
                                value="">
                            </div>

                            <div class="col-md-6"><label class="labels">Last Name</label>
                                <input type="text" 
                                class="form-control" 
                                value="" 
                                formControlName="lastName"
                                placeholder="last name">
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Email</label>
                                <input type="text"
                                class="form-control" 
                                value=""
                                formControlName="email"
                                >
                            </div>

                            <div class="col-md-12">
                                <label for="governorate">Governorate:</label>
                                <select id="governorate" formControlName="state">
                                <option *ngFor="let gov of governorates" [value]="gov.id">{{ gov.name }}</option>
                                </select>
                            </div>

                            
                            <div class="col-md-12">
                                <label for="city">City:</label>
                                <select id="city" formControlName="city">
                                <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                                </select>
                            </div>


                            <div class="col-md-12">
                                <label for="street">Street:</label>
                                <input id="street" formControlName="street" />
                            </div>


                            <div class="col-md-12">
                                <label for="zipCode">Zip Code:</label>
                                <input id="zipCode" formControlName="zipCode" />
                            </div>


                        </div>

                            <button type="submit">Submit</button>
                            </form> -->


                            <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
                                <div class="row mt-2">
                                  <div class="col-md-6">
                                    <label class="labels">First Name</label>
                                    <input type="text" class="form-control" placeholder="first name" formControlName="firstName">
                                  </div>
                              
                                  <div class="col-md-6">
                                    <label class="labels">Last Name</label>
                                    <input type="text" class="form-control" placeholder="last name" formControlName="lastName">
                                  </div>
                                </div>
                              
                                <div class="row mt-3">
                                  <div class="col-md-12">
                                    <label class="labels">Email</label>
                                    <input type="text" class="form-control" formControlName="email">
                                  </div>
                              
                                  <div class="col-md-12">
                                    <label for="governorate">Governorate:</label>
                                    <select id="governorate" class="form-control" formControlName="state">
                                      <option *ngFor="let gov of governorates" [value]="gov.id">{{ gov.governorate_name_en }}</option>
                                    </select>
                                  </div>
                              
                                  <div class="col-md-12">
                                    <label for="city">City:</label>
                                    <select id="city" class="form-control" formControlName="city">
                                      <option *ngFor="let city of cities" [value]="city.id">{{ city.city_name_en }}</option>
                                    </select>
                                  </div>
                              
                                  <div class="col-md-12">
                                    <label for="street">Street:</label>
                                    <input id="street" class="form-control" formControlName="street">
                                  </div>
                              
                                  <div class="col-md-12">
                                    <label for="zipCode">Zip Code:</label>
                                    <input id="zipCode" class="form-control" formControlName="zipCode">
                                  </div>
                                </div>
                              
                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                              </form>
                              



            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->