<div class="sidebar" [class.close]="!isSidebarOpen">
  <div class="logo-details">
    <i class="bx bxs-store"></i>
    <span class="mt-5 logo_name">Perfume Store</span>
    <i class="bx bx-menu toggle-btn" (click)="toggleSidebar()"></i>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/seller/products" routerLinkActive="active">
        <i class="bx bx-box"></i>
        <span class="link_name">Products</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" routerLink="/seller/products">Products</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/seller/orders" routerLinkActive="active">
        <i class="bx bx-cart"></i>
        <span class="link_name">Orders</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" routerLink="/seller/orders">Orders</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/seller/sales" routerLinkActive="active">
        <i class="bx bx-line-chart"></i>
        <span class="link_name">Analytics</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" routerLink="/seller/sales">Analytics</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/seller/product-requests" routerLinkActive="active">
        <i class="bx bx-inbox"></i>
        <span class="link_name">Product Requests</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" routerLink="/seller/product-requests">Product Requests</a></li>
      </ul>
    </li>
    <!-- Remove this list item -->
    <!-- <li>
      <a routerLink="/seller/product-reviews" routerLinkActive="active">
        <i class="bx bx-star"></i>
        <span class="link_name">Product Reviews</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" routerLink="/seller/product-reviews">Product Reviews</a></li>
      </ul>
    </li> -->
    <li>
      <div class="profile-details">
        <i class='bx bx-log-out' (click)="logout()"></i>
      </div>
    </li>
  </ul>
</div>