<div id="main-wrapper" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5" id="dataBlock">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Request Password Reset</h3>
                                </div>

                                <h6 class="h5 mb-0">Reset your password</h6>
                                <p class="text-muted mt-2 mb-5">Enter your email address to request a password reset link.</p>

                                <form [formGroup]="requestPasswordToChange" (submit)="requestPasswordReset()">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" 
                                               name="email" 
                                               class="form-control" 
                                               formControlName="email"
                                               placeholder="Email"
                                               id="email">
                                        <div class="text-danger mt-1" *ngIf="requestPasswordToChange.controls['email'].invalid && requestPasswordToChange.controls['email'].touched">
                                            <small *ngIf="requestPasswordToChange.controls['email'].hasError('required')">Email is required.</small>
                                            <small *ngIf="requestPasswordToChange.controls['email'].hasError('email')">Please enter a valid email.</small>
                                        </div>
                                    </div>
                                    <div *ngIf="requestFaild" class="text-danger mt-3">
                                        <small>

                                            No User With that Email
                                        </small>
                                      </div>
                                
                                    <button type="submit" class="btn btn-theme mt-3" [disabled]="requestPasswordToChange.invalid">Request Password Reset</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">Experience the Essence of Luxury!</h4>
                                    <p class="lead text-white">"Joining our perfume community was effortless. Whether it's logging in, registering, or resetting my password, the process is always smooth and user-friendly."</p>
                                    <p>- Satisfied Member</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
